<div class="overflow-hidden max-w-2xl mx-auto bg-white rounded-xl shadow p-6">

    <!-- Profile section -->
    <div class="px-6 pb-4">
        <div class="flex justify-between items-start">

            <!-- Left: avatar + info -->
            <div class="flex flex-col">
                <!-- Avatar -->
                <img src="{{ user.profile_image or url_for('static', path='images/default_avatar.png') }}" alt="Profile"
                    class="w-28 h-28 rounded-full border-black  object-cover" />

                <!-- Username -->
                <h1 class="mt-3">
                    {{ user.username }}
                </h1>

                <!-- Bio -->
                <p class="mt-1">
                    {{ user.bio }}
                </p>

                <div class="mt-4 flex gap-6 text-sm font-medium">
                    <div>
                        <span class="text-black font-semibold">{{ user.post_count }}</span>
                        <span class="text-gray-500"> Post</span>
                    </div>

                    <div>
                        <span class="text-black font-semibold">{{ user.total_likes_received }}</span>
                        <span class="text-gray-500"> Like</span>
                    </div>

                    <div>
                        <span class="text-black font-semibold">{{ user.comment_count }}</span>
                        <span class="text-gray-500"> Commenti</span>
                    </div>

                    <div>
                        <span class="text-black font-semibold">{{ user.follower_count }}</span>
                        <span class="text-gray-500"> Follower</span>
                    </div>

                    <div>
                        <span class="text-black font-semibold">{{ user.following_count }}</span>
                        <span class="text-gray-500"> Seguiti</span>
                    </div>
                </div>
            </div>

            {% set is_owner = current_user(request).username == user.username %}
            {% set is_admin = current_user(request).role == "ADMIN" %}

            <div class="mt-4 flex flex-col items-center space-y-2">

                {# Caso: proprietario del profilo #}
                {% if is_owner %}
                <button hx-get="/u/{{ user.username }}/edit-modal" hx-target="#modal-container" hx-swap="innerHTML"
                    class="px-5 py-2 rounded-full transition btn-secondary">
                    Impostazioni
                </button>

                {% else %}

                {# USER normale → solo follow #}
                {% if not is_admin %}
                <div id="follow-btn-{{ user.username }}">
                    {% with
                    username=user.username,
                    following=user.following_by_me,
                    follower_count=user.follower_count
                    %}
                    {% include "users/partials/follow_button.html" %}
                    {% endwith %}
                </div>

                {# ADMIN → follow + impostazioni sotto #}
                {% else %}
                <div id="follow-btn-{{ user.username }}">
                    {% with
                    username=user.username,
                    following=user.following_by_me,
                    follower_count=user.follower_count
                    %}
                    {% include "users/partials/follow_button.html" %}
                    {% endwith %}
                </div>

                <button hx-get="/u/{{ user.username }}/edit-modal" hx-target="#modal-container" hx-swap="innerHTML"
                    class="px-5 py-2 rounded-full transition btn-secondary">
                    Impostazioni
                </button>
                {% endif %}

                {% endif %}
            </div>
        </div>

        <!-- Tabs -->
        <div class="mt-6 border-b border-gray-700">
            <nav id="profile-tabs" class="grid grid-cols-5 text-gray-400 font-medium justify-between" hx-on:click="
        if(event.target.classList.contains('nav-item')){
            document.querySelectorAll('#profile-tabs .nav-item')
                .forEach(el => el.classList.remove('active'));
            event.target.classList.add('active');
        }
     ">

                <button hx-get="/u/{{ user.username }}/posts" hx-target="#profile-content"
                    class="py-3 nav-item cursor-pointer {% if pagination_url== '/u/' ~ user.username ~ '/posts' or request.url.path=='/u/' ~ user.username %} active {% endif%}"
                    hx-push-url="true" {% if pagination_url=='/u/' ~ user.username ~ '/posts' or request.url.path=='/u/'
                    ~ user.username %} hx-trigger="load, click" {% endif %}>
                    Post
                </button>

                <button hx-get="/u/{{ user.username }}/comments" hx-target="#profile-content"
                    class="py-3 nav-item cursor-pointer {% if pagination_url== '/u/' ~ user.username ~ '/comments' %} active {% endif%}"
                    hx-push-url="true" {% if pagination_url=='/u/' ~ user.username ~ '/comments' or
                    request.url.path=='/u/' ~ user.username ~ '/comments' %} hx-trigger="load, click" {% endif %}>
                    Commenti
                </button>

                <button hx-get="/u/{{ user.username }}/likes" hx-target="#profile-content"
                    class="py-3 nav-item cursor-pointer {% if pagination_url== '/u/' ~ user.username ~ '/likes' %} active {% endif%}"
                    hx-push-url="true" {% if pagination_url=='/u/' ~ user.username ~ '/likes' or request.url.path=='/u/'
                    ~ user.username ~ '/likes' %} hx-trigger="load, click" {% endif %}>
                    Mi piace
                </button>

                <button hx-get="/u/{{ user.username }}/followers" hx-target="#profile-content"
                    class="py-3 nav-item cursor-pointer {% if pagination_url== '/u/' ~ user.username ~ '/followers' %} active {% endif%}"
                    hx-push-url="true" {% if pagination_url=='/u/' ~ user.username ~ '/followers' or
                    request.url.path=='/u/' ~ user.username ~ '/followers' %} hx-trigger="load, click" {% endif %}>
                    Follower
                </button>

                <button hx-get="/u/{{ user.username }}/following" hx-target="#profile-content"
                    class="py-3 nav-item cursor-pointer {% if pagination_url== '/u/' ~ user.username ~ '/following' %} active {% endif %}"
                    hx-push-url="true" {% if pagination_url=='/u/' ~ user.username ~ '/following' or
                    request.url.path=='/u/' ~ user.username ~ '/following' %} hx-trigger="load, click" {% endif %}>
                    Seguiti
                </button>
            </nav>


        </div>

        <!-- Content -->
        <div id="profile-content" class="py-6"></div>
    </div>
</div>