<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',path='/css/output.css')}}" rel="stylesheet">
    <title>FastAPI + HTMX</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"
        integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1 class="text-3xl font-bold underline">FastAPI + HTMX</h1>
    <form class="p-6 max-w-max mx-auto bg-blue-200 rounded-3xl shadow-2xl flex items-center space-x-8" hx-post="/posts" hx-target="#posts" hx-swap="innerHTML" hx-on:htmx:after-request="this.reset()">
        <input class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-3 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-base" type="text" name="user" placeholder="Pippo">
        <input class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-3 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-base" type="text" name="text" placeholder="Esempio di messaggio">
        <select name="verified">
            <option value="True">Verificato</option>
            <option value="False">Non verificato</option>
        </select>
        <button
            class="px-4 py-1 text-sm text-orange-500 font-semibold rounded-full border border-orange-500 hover:text-white hover:bg-orange-500 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:text-blue-600">Inserisci</button>
    </form>
    <br>
    <div class="p-6 max-w-max mx-auto bg-green-600 rounded-xl shadow-lg flex justify-items-center space-x-4">
        <ul class="justify-items-center" id="posts" hx-get="/posts" hx-swap="innerHTML" hx-trigger="load"></ul>
    </div>
</body>

</html>